html{
    font-size: 62.5%;
}

@keyframes color-change {
    from {background-color: red;}
    50% {background-color: green;}
    90% {background-color: blue;}
    to {background-color: red;}
}

#background{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: red;
    animation: color-change 2000ms infinite;
    z-index: -1;
}

.header{
    height: 20vh;
    padding: 10px;
    border: 3px solid black;
    margin: 10px;
    position: relative;
    background-image: linear-gradient(
        to top,
    rgba(213, 104, 247, 0.5),
    rgba(251, 202, 38, 0.5)
    ), 
    url(media/placeholder.png);
    background-size: auto;
}

.header-text{
    width: 200vh;
    font-family: 'Asset', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -12px;
    color: wheat;
    font-size: 4rem
}

.explanation-text{
    left: 50%;
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 10rem;
    color: slateblue;
    text-align: center;    
}

.crying-man{
    left: -50%;
    height: 25rem;
    width: 192rem;
}

